@{
    Layout = "_MinimalLayout";
}
<partial name="_Navbar" />

<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Get started</h1>
            <p class="col-md-8 fs-4">Planning, struturize, sort, filter your tasks</p>
            <a asp-controller="Auth" asp-action="login" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Log-in</a>
            <a asp-controller="Auth" asp-action="signin" type="button" class="btn btn-outline-secondary btn-lg px-4">Sign-in</a>

        </div>
    </div>
</div>
