@model IEnumerable<TodoListModel>
@foreach (var list in Model)
    {
        <li>
            @*<a href="#" class="nav-link text-white">*@
        <a href="@Url.Action("GetAllTodos", "Todo")?id=@list.Id" class="nav-link text-white" aria-current="page">
                @list?.Details
            </a>
        </li>
    }

@*<div class="d-grid gap-2">
    <a class="btn btn-outline-secondary" asp-route="default">
        Home
    </a>
    @foreach (string category in Model ?? Enumerable.Empty<string>())
    {
        <a class="btn @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-outline-secondary")"
           asp-route="category" asp-route-category="@category">
            @category
        </a>
    }
</div>*@
