@model (TodoListDTO List, string ReturnUrl)
@{
    Layout = "_MinimalLayout";
}
<div class="container">
    <partial name="_TodoListEditor.cshtml" model='new TodoListEditorViewModel()
{
    List = @Model.List,
    CallbackMethodName = "Create",
    ThemeColor = "warning",
    Title = "Create",
    ReturnUrl = @Model.ReturnUrl,
}' />
</div>