@model IEnumerable<TodoListDTO>
@foreach (var list in Model)
    {
        <li>
        <a href="@Url.Action(nameof(TaskController.GetAllTasksByListId), nameof(TaskController))?id=@list.Id" class="nav-link text-white" aria-current="page">
                @list?.Title
            </a>
        </li>
    }
