<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>To-do app</title>
    <link href="/lib/bootstrap-5.2.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        html, body {
            height: 100%;
            background-color: #fcfcfc;
            overflow-x: hidden;
        }
    </style>
</head>
<body>
    <div>
        <partial name="_Navbar" />
    </div>
    <div>
        @RenderBody()
    </div>

    <partial name="_ValidationScriptsPartial" />

    @RenderSection("Scripts", required: false)

</body>
</html>

