@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Start your planning with <a asp-action="Create" asp-controller="TodoList">creating</a> a to-do list.</p>
</div>
