@model TaskListPageViewModel


<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom shadow-sm mb-3">
    <div class="container">
        <a class="navbar-brand" asp-controller="" asp-action="">@Model.Title</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                @if (Model.TodoListId != 0)
                {
                    <li class="nav-item">
                        <a class="btn btn-light" asp-controller="Task" asp-action="Create" asp-route-listId="@Model.TodoListId" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
                            New task
                        </a>
                    </li>
                }

            </ul>
        </div>
    </div>
</nav>