@model (TaskDTO Task, string ReturnUrl)
@{
    Layout = "_TaskLayout";
}
<div class="container">
    <partial name="_TaskEditor.cshtml" model='new TaskEditorViewModel()
{
    Task = @Model.Task,
    CallbackMethodName = "Create",
    ThemeColor = "warning",
    Title = "Create",
    ReturnUrl = @Model.ReturnUrl,
}' />
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
  }