@model (TaskDTO task, string url)
@{
    Layout = "_TaskLayout";
}
<div class="container">
<partial name ="_TaskEditor.cshtml" model='new TaskEditorViewModel()
{
    Task = @Model.task,
    CallbackMethodName = "Update",
    ThemeColor = "warning",
    Title = "Edit",
    ReturnUrl = @Model.url,
}'/>
</div>