@model string
@{
    Layout = "_MinimalLayout";
}
    
<div class="text-center" style="margin-top: 30vh">
    <h2>You do not have permission</h2>
    <p>Unfortunately, you do not have permission to @Model</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return to Main menu</a>
</div>
